@model TestWebApplication.Models.UserModel




<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://numa.nz/uc/css/login.css">
    <title>Login</title>
</head>
<body>
    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    <div class="form-group">
        <div class="alert-danger">
            @ViewBag.Message
        </div>
    </div>
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="3">
                    Login
                </th>
            </tr>
            <tr>
                <td>
                    Username
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Username)
                </td>

            </tr>
            <tr>
                <td>
                    Password
                </td>
                <td>
                    @Html.PasswordFor(m => m.Password)
                </td>

            </tr>
            <tr>
                <td>
                    Remember Me
                </td>
                <td>
                    @Html.CheckBoxFor(m => m.RememberMe)
                </td>

            </tr>

        </table>
        <input type="submit" value="Submit" class="btn btn-lg btn-primary btn-block" />
    }
    <br />
    <p>Forgot your password? Click @Html.ActionLink("HERE", "ResetPassword", "Home")</p>
    <br />
    <p>Need an account? Click @Html.ActionLink("HERE", "CreateUser", "Home") to create one!</p>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

</body>
</html>