@model TestWebApplication.Models.UserModel
@using TestWebApplication.Models
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }
    </style>
</head>
<body>
    <div>
        Welcome
        <b>@User.Identity.Name</b>
        <br />
        @if (Model.UserGroupID == 1)
        {
            @*<form action="@Url.Action("UploadResume", "Home", new { NoteId = Model.aut_id })" method="post" enctype="multipart/form-data">
                <label for="file1"> File name:</label>
                <input type="file" name="file" id="file1" />
                <input type="submit" value="Submit" />
            </form>*@
        }
        @if (Model.UserGroupID != 1)
        {


            @Html.ActionLink("Click Here to set your availability", "Availability", "Home")

            foreach (var dt in Model.AvailList)
            {
                <br />
                @dt.DateTime.ToString();
                @:&nbsp;&nbsp;&nbsp;
                @Html.ActionLink("Remove Date/Time From Availablity", "RemoveAvail", "Home", new { id = dt.AvailabilityID, @type = "button", @class = "ui-button-text" });
                <br />

            }
        }

        <br />
        @Html.ActionLink("Logout", "Logout", "Home")
    </div>
</body>
</html>